ipython
python-dotenv
rdkit
synspace
openai
molbloom
paper-qa==1.1.1
google-search-results
langchain>=0.0.234,<=0.0.275
langchain_core==0.0.1
nest_asyncio
tiktoken
rmrkl
paperscraper
#paper-scraper@git+https://github.com/blackadad/paper-scraper.git
streamlit
rxn4chemistry
duckduckgo-search
setuptools
wikipedia